
      body{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
      }
      /* header css start ----------*/
      header{
        width: 100%;
        height: 100px;
        position: fixed;
        background-color: aquamarine;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      ul{
        display: flex;
        gap: 30px;
        list-style: none;
        font-size: 25px;
      }
        /* header css end--------------*/
        main{
            width: 100%;
            height: auto;
        }
        /* Home section css start ---------- */
        .home{
            width: 100%;
            height: 800px;
            background-color: #33a1e0;
        }
        .home-content{
            width: 50%;
            height: 30%;
            background-color: aqua;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
         .home,h1{
            padding: 0%; margin: 0%;
        }
        /* Home section css end */

  /* about section css start */
  .about{
    width: 100%;
    height: 800px;
    background-color: #1c6381;
  }
  .about-title{
    width: 100%;
    height: 10%;
    color: white;
    text-align: center;
    padding: 20px;
  }
  /* about section css end */

  /* project section css start */
  .project{
    width: 100%;
    height: 800px;
    background-color: #2585bd;
  }
  .project-title{
  
    width: 100%;
    height: 10%;
    color: white;
     text-align: center;
     padding-top: 20px;
  }
.project-cards{
    width: 80%;
    height: 80%;
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.card{
    width: 20%;
    height: 200px;
    background-color: #0e557e;
    border-radius: 20px;
}
   /* project section css end */

/* contact section css start */
.contact{
     width: 100%;
    height: 800px;
    background-color: #023f62;
}
.contact-title{
     width: 100%;
    height: 10%;
    color: white;
     text-align: center;
     padding-top: 20px;
}