
      body{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
      }
      /* header css start ----------*/
      header{
        width: 100%;
        height: 100px;
        position: fixed;
        background-color: aquamarine;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      ul{
        display: flex;
        gap: 30px;
        list-style: none;
        font-size: 25px;
      }
        /* header css end--------------*/
        main{
            width: 100%;
            height: auto;
        }
        /* Home section css start ---------- */
        .home{
            width: 100%;
            height: 800px;
            background-color: #33a1e0;
        }
        .home-content{
            width: 50%;
            height: 30%;
            background-color: aqua;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
         .home,h1{
            padding: 0%; margin: 0%;
        }
        /* Home section css end */

  /* about section css start */
  .about{
    width: 100%;
    height: 800px;
    background-color: #1c6381;
  }
  .about-title{
    width: 100%;
    height: 10%;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .title-left{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  /* about section css end */

  /* project section css start */
  .project{
    width: 100%;
    height: 800px;
    background-color: #2585bd;
  }
  .project-title{
  
    width: 100%;
  height: 10%;
    color: white;
     text-align: center;
     padding-top: 20px;
  }
  .product-card{
    width: 200px;
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap;
  }
.product-cards{
    width: 80%;
    height: 80%;
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.card-image{
  width: 80%;
  height: 60%;
  background-image: url("https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSCnEnUk8S15XOiH56HLCkgrPiOucxqeCeoMXqgErjCtPom-cQ_lNaSWXSSjQRVrNi5at8XloGTIIjP7Sgo-O300lPcS-jpXgysEj5K47T0AXErZ_asi3TKGw");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-image1{
width: 80%;
height: 60%;
background-image: url("https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSzbq6QM0c5a0jae547hajG3ykzpWuq-5uNl1AW2Ekthd9HheRjURsL7kZWcOJ-qjrlKRvoLH6Uy0a06_ERLw459QQLEK0zKWEu-sf0QxLzcKxttKtIIz6gnQ");
background-size: cover;
background-repeat: no-repeat;
}
.card-content1{
  width: 80%;
  height: 20%;
  
}
.card-content{
  width: 80%;
  height: 20%;
 padding: 0;
 margin: 0;
  font-size: 25px;
}
.card{
    width: 20%;
    height: 200px;
    background-color: #0e557e;
    border-radius: 20px;
}
   /* project section css end */

/* contact section css start */
.contact{
     width: 100%;
    height: 800px;
    background-color: #023f62;
}
.contact-title{
     width: 100%;
    height: 10%;
    color: white;
     text-align: center;
     padding-top: 20px;
}